APP_NAME=skeleton
APP_ENV=dev
APP_DEBUG=(true)
APP_PORT=9502

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=


MQTT1_HOST="192.168.170.87"
MQTT1_PORT=1883
MQTT1_USER=""
MQTT1_PASS=""

MQTT2_HOST=broker.hivemq.com
MQTT2_PORT=1883
MQTT2_USER=(null)
MQTT2_PASS=(null)

SMB_HOST=192.168.7.252
SMB_USERNAME=Fossnir
SMB_PASSWORD=
SMB_SHARENAME=
FOSSNIR_SEND=(true)


REDIS_HOST=localhost
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0